<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="INewCustomerOrganizationService" value ="NewCustomerIntegration.Services.OrganizationSvcMVCImpl"/>
    <add key ="INewCustomerAddressService" value ="NewCustomerIntegration.Services.AddressSvcMVCImpl"/>
    <add key ="INewCustomerPersonService" value ="NewCustomerIntegration.Services.PersonSvcMVCImpl"/>
    <add key ="INewCustomerSiteService" value ="NewCustomerIntegration.Services.SiteSvcMVCImpl"/>
    <add key ="INewCustomerSiteTypeService" value ="NewCustomerIntegration.Services.SiteTypeSvcMVCImpl"/>
    <add key ="INewCustomerUserTypeService" value ="NewCustomerIntegration.Services.UserTypeSvcMVCImpl"/>
    <add key ="INewCustomerRuleService" value ="NewCustomerIntegration.Services.RuleSvcMVCImpl"/>
  </appSettings>
</configuration>